<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maaps.expense">

    <uses-permission android:name="android.permission.CAMERA" />
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity">
        <service
            android:name=".helpers.SpecificFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.maaps.expense.QRCodeScanner"
            android:screenOrientation="portrait" ></activity>
        <activity android:name="com.maaps.expense.Share"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maaps.expense.CreateGroup"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maaps.expense.JoinGroup"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maaps.expense.PaymentsList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maaps.expense.ExpenseEditor"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.maaps.expense.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>